/*https://fontawesome.com/icons/utensils?f=classic&s=solid formatos.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#ff7f50;
}

.cabecalho {
    background-color:#ff7f50;
    color: #333;
    padding: 10px;
    text-align: center;
}

.cabecalho__menu {
    background-color:#ff7f50;
    display: flex;
    justify-content: left;
    color:black;
  
}

.cabecalho__menu__link {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
    pad: 50px;
}

.apresentacao {
    background-color: #ff7f50;
    text-align: center;
    padding: 20px;
}

.apresentacao__conteudo {
    max-width: 600px;
    margin: 0 auto;
    pad: 32px;
}

.apresentacao__conteudo__titulo {
    color: #333;
    pad:32px;
}


.rodape {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 3px;
    position: fixed;
    left: 0; /* Alteração aqui para fixar o rodapé no lado esquerdo */
    bottom: 0;
    width: 100%;
    margin: 0;
    max-width: 100%;
}



