
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria:#ff7f50;
    --cor-secundaria:#333;
    --cor-terciaria:#000;
    --cor-hover:#fff;

    --font-primaria:var("Arial, Helvetica", sans-serif);
    --font-secundaria:var("Krona-One", sans-serif);

}

*{
    marging: 0;
    padding: 0;
}

img {
    width: 70px;
    padding: 100px;
}
    
.receitas__tia__jurema {
    align: middle
    font-size: 1.25em;
    padding: 30px;
    
    width: 20%;
    
  
}
.logo {
    width: 30%;
    font-size: 2.5em;
}
.h1 {
    font-size: 1.5em;
    justify-content: space-around;
    padding: 30px;
    display: flexbox;
    vertical-align:middle;
    width: 20%;
    margin-right: 15%;

}    
    
.navlist {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    color: var(--cor-secundaria);
    font-weight: 600;

}
  
.navlist li {
    margin: 0;
  }
  
  .navlist a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-primaria);
  }

  body {
    background-color: var(--cor-primaria);
    font-family: var(--font-secundaria;
    font-size: 2.5em;
    font-weight: 600;
    justify-content: space-around;
}
.apresentacao{
    font-size: 2.5em;
    justify-content: space-around;
    padding: 30px;
    display: flexbox;
    vertical-align:middle;
    width: 20%;
    margin-right: 15%;

}
.apresentacao__receitas{

}
.apresentacao__receitas__link{
    width: 300px;
    padding: 300px;

}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-hover);
    text-align: center;
    padding: 2px;
    position: fixed;
    border-bottom:var(--cor-hover);
    left: 0; 
    bottom: 0%;
    width: 100%;
    margin: 0%;
    max-width: 100%;
  }

    
