img {
    width: 70px;
    background-color: #ff7f50;
}

img, h1 {
    display:inline-block
   
}
body {
    background-color:#ff7f50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;